* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
h1 {
  margin: 1px 0;
  font-size: 4em;
  font-weight: 300;
}
div.fullHeight {
  position: static;
  height: 100%;
  width: 100%;
}
.samples {
  background-color: #efefef;
}
#mainMenu {
  margin: 0;
  _: 0 ; -webkit-box-shadow: none;
  _: 0 ; -khtml-box-shadow: none;
  _: 0 ; -moz-box-shadow: none;
  _: 0 ; box-shadow: none;
  opacity: 0.7;
  _: 0 ; -webkit-transition: opacity 0.3s;
  _: 0 ; -khtml-transition: opacity 0.3s;
  _: 0 ; -moz-transition: opacity 0.3s;
  _: 0 ; transition: opacity 0.3s;
}
#mainMenu:hover {
  opacity: 1;
}
#mainMenu a.item:hover {
  background: none;
}
#mainMenu a.item:hover i {
  color: #3333cc;
}
#socialIconOverlay {
  background-color: #fff;
  width: 100%;
  text-align: right;
}
#rightMenuLayoutFix {
  visibility: hidden;
}
.landingSquare {
  width: 400px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;
  text-align: center;
}
#landingList {
  font-size: 1.3em;
  position: absolute;
  bottom: 30;
  width: 100%;
  text-align: center;
}
#landingList i.icon {
  margin: 3px auto;
  display: block;
  color: #444;
}
#homeLink {
  position: fixed;
}
div.fauxBorder {
  font-size: 0;
  position: absolute;
  bottom: 0;
  height: 5px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #333;
}
div.fauxBorder .border {
  _: 0 ; -webkit-transition: opacity 800ms;
  _: 0 ; -khtml-transition: opacity 800ms;
  _: 0 ; -moz-transition: opacity 800ms;
  _: 0 ; transition: opacity 800ms;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}
div.fauxBorder .border.displayed {
  opacity: 1;
}
div.fauxBorder .red {
  background-color: #e11;
}
div.fauxBorder .yellow {
  background-color: #DFE619;
}
div.fauxBorder .green {
  background-color: #4CE619;
}
div.fauxBorder .blue {
  background-color: #19A9E6;
}
div.fauxBorder .purple {
  background-color: #7C19E6;
}
