* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #444;
}
h1 {
  margin: 1px 0;
  font-size: 4em;
}
div.fullHeight {
  position: static;
  height: 100%;
  width: 100%;
}
.samples {
  background-color: #ccc;
}
#mainMenu {
  margin: 0;
  _: 0 ; -webkit-box-shadow: none;
  _: 0 ; -khtml-box-shadow: none;
  _: 0 ; -moz-box-shadow: none;
  _: 0 ; box-shadow: none;
  opacity: 0.7;
  _: 0 ; -webkit-transition: opacity 0.3s;
  _: 0 ; -khtml-transition: opacity 0.3s;
  _: 0 ; -moz-transition: opacity 0.3s;
  _: 0 ; transition: opacity 0.3s;
}
#mainMenu:hover {
  opacity: 1;
}
#mainMenu a.item:hover {
  background: none;
}
#mainMenu a.item:hover i {
  color: #3333cc;
}
#socialIconOverlay {
  background-color: #fff;
  width: 100%;
  text-align: right;
}
#rightMenuLayoutFix {
  visibility: hidden;
}
.landingSquare {
  width: 400px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;
  text-align: center;
}
#landingList {
  font-size: 1.3em;
  position: absolute;
  bottom: 30;
  width: 100%;
  text-align: center;
}
#landingList i.icon {
  margin: 3px auto;
  display: block;
  color: #444;
}
#homeLink {
  position: fixed;
}
