* { box-sizing:border-box; }
.property_(@property, @value) {
    _: 0 ~"; @{property}:" @value;
}
@poyple: #33c;

.vendor(@property, @value) {
    .property_('-webkit-@{property}', @value);
    .property_( '-khtml-@{property}', @value);
    .property_(   '-moz-@{property}', @value);
    .property_(          @property,   @value);
}
body {
	margin:0;
	padding:0;
	color:#444;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}
h1 {
	margin:1px 0;
	font-size:4em;
	font-weight:300;
}
div.fullHeight {
	position:relative;
	height:100%;
	min-height:600px;
	width:100%;
	margin:0;
}
.landing {
}
.samples {
	background-color:#efefef;
}
#mainMenu {
	margin:0;
	.vendor(box-shadow, none);
	opacity:0.7;
	.vendor(transition, opacity 0.3s);
	&:hover {
		opacity:1;
	}
	a.item:hover {
		background:none;
		i {
			color:@poyple;
		}
	}
}
#socialIconOverlay {
	background-color:#fff;
	width:100%;
	text-align:right;
}
#rightMenuLayoutFix {
	visibility:hidden;
}
.landingSquare { 
	width:400px;
	height:200px;
	position: absolute;
	left: 50%;
	top: 50%; 
	margin-left: -200px;
	margin-top: -100px;
	text-align:center;
}
#landingList {
	a {
		text-decoration:none;
		color:inherit;
		&:hover {
			color:@poyple;
			i {
				color:@poyple !important;
			}
		}
	}
	i.icon {
		margin:3px auto;
		display:block;
		color:#444;
	}
	font-size:1.3em;
	position:absolute;
	bottom:30;
	width:100%;
	text-align:center;
}
div.fauxBorder {
	font-size:0;
	position:absolute;
	bottom:0;
	height:5px;
	margin:0;
	padding:0;
	width:100%;
	background-color:#333;
	.border {
		.vendor(transition, opacity 800ms);
		display:inline-block;
		width:20%;
		height:100%;
		margin:0;
		padding:0;
		opacity: 0;
		&.displayed {
			opacity: 1;
		}
	}
	.red {
		background-color:#e11;
	}
	.yellow {
		background-color:#DFE619;
	}
	.green {
		background-color:#4CE619;
	}
	.blue {
		background-color:#19A9E6;
	}
	.purple {
		background-color:#7C19E6;
	}
}
@media (max-width: 960px) {
	#landingList .item {
		display:block !important;
		margin-left:0;
		i {
			font-size:2em;
		}
	}
	.landingSquare {
		top:20%;
	}
}
@media (max-width: 370) {
	h1 {
		font-size:1.2em;
	}
}
.portfolio {
	background-color:#f9f9f9;
	h2 {
		color:#3f4a39;
		margin-top:0;
		padding-top:20px;
	}
}
