* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
h1 {
  margin: 1px 0;
  font-size: 4em;
  font-weight: 300;
}
div.fullHeight {
  position: relative;
  min-height: 100%;
  width: 100%;
  margin: 0;
}
.samples {
  background-color: #efefef;
}
#mainMenu {
  margin: 0;
  _: 0 ; -webkit-box-shadow: none;
  _: 0 ; -khtml-box-shadow: none;
  _: 0 ; -moz-box-shadow: none;
  _: 0 ; box-shadow: none;
  opacity: 0.7;
  _: 0 ; -webkit-transition: opacity 0.3s;
  _: 0 ; -khtml-transition: opacity 0.3s;
  _: 0 ; -moz-transition: opacity 0.3s;
  _: 0 ; transition: opacity 0.3s;
}
#mainMenu:hover {
  opacity: 1;
}
#mainMenu a.item:hover {
  background: none;
}
#mainMenu a.item:hover i {
  color: #3333cc;
}
#socialIconOverlay {
  background-color: #fff;
  width: 100%;
  text-align: right;
}
#rightMenuLayoutFix {
  visibility: hidden;
}
.landingSquare {
  width: 400px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -100px;
  text-align: center;
}
.landingSquare .scrollDown {
  margin-top: 20%;
  display: block;
}
.landingSquare .scrollDown span.arrow {
  font-size: 3em;
}
#landingList {
  font-size: 1.3em;
  position: absolute;
  bottom: 30;
  width: 100%;
  text-align: center;
}
#landingList a {
  text-decoration: none;
  color: inherit;
}
#landingList a:hover {
  color: #3333cc;
}
#landingList a:hover i {
  color: #3333cc !important;
}
#landingList i.icon {
  margin: 3px auto;
  display: block;
  color: #444;
}
div.fauxBorder {
  font-size: 0;
  position: absolute;
  bottom: 0;
  height: 5px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #333;
}
div.fauxBorder .border {
  _: 0 ; -webkit-transition: opacity 800ms;
  _: 0 ; -khtml-transition: opacity 800ms;
  _: 0 ; -moz-transition: opacity 800ms;
  _: 0 ; transition: opacity 800ms;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}
div.fauxBorder .border.displayed {
  opacity: 1;
}
div.fauxBorder .red {
  background-color: #e11;
}
div.fauxBorder .yellow {
  background-color: #DFE619;
}
div.fauxBorder .green {
  background-color: #4CE619;
}
div.fauxBorder .blue {
  background-color: #19A9E6;
}
div.fauxBorder .purple {
  background-color: #7C19E6;
}
@media (max-width: 960px) {
  #landingList .item {
    display: block !important;
    margin-left: 0;
  }
  #landingList .item i {
    font-size: 2em;
  }
  .landingSquare {
    top: 20%;
  }
}
@media (max-width: 370) {
  h1 {
    font-size: 1.2em;
  }
}
.portfolio {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
}
.portfolio h2 {
  text-align: center;
  color: #3f4a39;
  margin-top: 0;
  padding-top: 20px;
  font-weight: 300;
}
.portfolio .reveal .content {
  background-color: #400;
  color: #eee;
  width: 300px;
  height: 200px;
  font-size: 0.8em;
  padding: 10px;
  text-align: center;
}
.portfolio .reveal .content h3 {
  font-weight: 300;
  color: #efefef;
  font-size: 1.8em;
}
.portfolio .reveal .content.description h3 {
  font-size: 1.1em;
}
.portfolio .reveal .content.description .meta a {
  display: block;
  color: #fff;
}
.portfolio .reveal.large .content {
  width: 400px;
  height: 200px;
}
.portfolio .reveal.frontlinesms .content:first-child {
  background: url(images/fsms.png) 30px 10px no-repeat;
  background-color: white;
}
.portfolio .reveal.frontlinesms .content:last-child {
  background-color: #c03284;
}
.portfolio .reveal.moja .content:first-child {
  background: url(images/moja.jpg) no-repeat;
  background-color: white;
}
.portfolio .reveal.moja .content:last-child {
  background-color: #727272;
}
.portfolio .reveal.togglah .content:first-child {
  background-color: #ff9955;
  background: url(images/congruent_pentagon.png) no-repeat;
}
.portfolio .reveal.togglah .content:first-child h3 {
  color: #45604d;
}
.portfolio .reveal.togglah .content:last-child {
  background-color: #45604d;
}
.portfolio .reveal.versus .content:first-child {
  background-color: #;
  background: url(images/escheresque_ste.png);
}
.portfolio .reveal.versus .content:first-child h3 {
  color: #a90329;
}
.portfolio .reveal.versus .content:last-child {
  background-color: #a90329;
}
.portfolio .reveal.more .content:first-child {
  background-color: #fff;
}
.portfolio .reveal.more .content:first-child h3 {
  color: #605f5e;
}
.portfolio .reveal.more .content:last-child {
  background-color: #9fa29e;
}
.portfolio .reveal.sokoban .content:first-child {
  background-color: #FFD700;
  background: url(images/restaurant.png);
}
.portfolio .reveal.sokoban .content:first-child h3 {
  color: #608f8e;
}
.portfolio .reveal.sokoban .content:last-child {
  background-color: #608f8e;
}
.portfolio .reveal.checkyoself .content:first-child {
  background: url(images/check.png) no-repeat;
  background-color: #bbb;
}
.portfolio .reveal.checkyoself .content:first-child h3 {
  margin-top: 0;
  text-align: right;
  color: #fff;
}
.portfolio .reveal.checkyoself .content:last-child {
  background-color: #999;
  color: #fff;
}
.portfolio .reveal.pixl .content:first-child {
  background: url(images/pixl.png) no-repeat;
  background-size: 60%;
  background-position: 50% 50%;
  background-color: #323333;
}
.portfolio .reveal.pixl .content:first-child h3 {
  text-align: right;
}
.portfolio .reveal.pixl .content:last-child {
  background-color: #902fdc;
  color: #fff;
}
